body {
  padding-top: 100px;
  background-image: url('/photo_13170_20090815.jpg');
  color: yellow;
}

h2 {
    text-decoration: underline;
    text-shadow: 5px 5px  black;
    text-align: center;
}

@keyframes loading {
    from {
      background-color: green;}
    to {
      background-color: yellow;
    }
}

#fetchingPlayers{
  color: red;
  vertical-align: justify;
  text-align: center;
  animation-name: loading;
  animation-duration: 5s;
  animation-iteration-count: 20;
  animation-timing-function:ease-in-out;
}


input:active {
  font-size: 14px;
    background-color: rgba(255, 255, 229, 1);
    background: -webkit-linear-gradient(center, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    border-width: 1px;
    border-radius: 4px;
}
input:hover{
  font-size: 14px;
    background-color: rgba(255, 255, 229, 1);
    background: -webkit-linear-gradient(center, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    background: linear-gradient(to top, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    border-width: 1px;
    border-radius: 4px;
    cursor: url('/cursor.png') auto;
}


label{
  padding-right: 5px;
  text-shadow: 2px 2px black;
}

select{
  max-width: 125px;
}

.form-control > option{
    font-size: 14pt;
    text-align: justify;
    padding-top: 5%;
    border-top: thin dotted black;


}
.row{
  margin-bottom: 2%;
  padding-top: 2%;
}

#mainDiv{
  border-style: inset;
  border-color: white;
  border-width: 3px;
  background-color: green;
  -webkit-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 30px;
  padding-left: 20px;
  margin: 2%


}

#leftSidebar {
  margin-right: 2%;
  margin-top: 3%;


}
#playerResults{
  background-color: green;
  border: outset white;
  border-width: 3px
  -webkit-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  -webkit-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  padding-bottom: 100px;
  margin-bottom: 10%
}

#auctionRecap{
  background-color: green;
  border: outset white;
  border-width: 3px
  -webkit-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  -webkit-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  padding-bottom: 100px;
  text-align: justify;
}


#playersName{
  max-width: 200px;
  min-width: 100px;
}

#select_positions{
    font-size: 14px;
    background-color: rgba(255, 255, 229, 1);
    background: -webkit-linear-gradient(center, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    border-width: 1px;
    border-radius: 4px;
    padding: 0px;
}

#select_teams {
    font-size: 14px;
    background-color: rgba(255, 255, 229, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    border-width: 1px;
    border-radius: 4px;
    padding: 0px;
}

#summary-list {
  color: white;
  text-shadow: 2px 2px #000010;
  font-size: 20px;
}

#winning-bid{
  max-width: 70px;
  min-width: 40px;
}

#years{
  max-width: 60px;
  min-width: 40px;
}

#leagueID{
  max-width: 90px;
  min-width: 70px;
}










