body {
  padding-top: 30px;
  background-image: url('../photo_13170_20090815.jpg');
  color: yellow;


}

h2 {
    text-decoration: underline;
    text-shadow: 5px 5px  black;
    text-align: center;
}

h6 {
    font-size: 24px;
    text-decoration: underline;
    text-shadow: 5px 5px  black;
    text-align: center;
  }

@-webkit-keyframes footballFade {
    0%   {
          top: -100px;
          left:-100px;
          width: 282px;
          height: 215px;}
    100% {top: 500px;
          left:500px;
          width: 243px;
          height: 215px;
          }
}
@keyframes footballFade {
   0%   { top: -100px;
          left:-100px;
          width: 282px;
          height: 215px;}
    100% {top: 500px;
          left:500px;
          width: 243px;
          height: 215px;
          }

}

#fetchingPlayers{
  position: relative;
  color: yellow;
  vertical-align: justify;
  text-align: center;
  margin-bottom: 20%;
  background-color: green;
  height: 40%;
  width: 100%;

}
#footballLoad{
  ;
  position: relative;
  -webkit-animation: footballFade 10 infinite;
  animation-name: footballFade;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode:forwards;

}


input:active {
  font-size: 14px;
    background-color: rgba(255, 255, 229, 1);
    background: -webkit-linear-gradient(center, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    border-width: 1px;
    border-radius: 4px;
}
input:hover{
  font-size: 14px;
    background-color: rgba(255, 255, 229, 1);
    background: -webkit-linear-gradient(center, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    background: linear-gradient(to top, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    border-width: 1px;
    border-radius: 4px;
    cursor: url('/cursor.png') auto;
}


label{
  padding-right: 5px;
  text-shadow: 2px 2px black;
}

select{
  max-width: 125px;
}

.form-control > option{
    font-size: 14pt;
    text-align: justify;
    padding-top: 5%;
    border-top: thin dotted black;


}
.row{
  margin-bottom: 2%;
  padding-top: 2%;
}

#possibleNominations{
  overflow:auto;
  list-style: none;
  text-align: center;
  vertical-align: center
}
#banner {
  border-style: outset;
  border-color: white;
  border-width: 3px;
  background-color: green;
  text-align: center;
  border-radius: 46px;
  text-decoration: underline;
  text-shadow: 5px 5px  black;

}

#bannerTitle{
  font-size: 54px;

}

#mainDiv{

  min-height: 70%;
  max-height: 80%;
  border-style: outset;
  border-color: white;
  border-width: 3px;
  background-color: green;
  -webkit-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  text-align: center;
  padding: 3%;
  margin-top: 3%;



}

#leftSidebar {
  padding: 3%;
  margin-left: 2%;
}

#playerResults{
  background-color: green;
  border: outset white;
  border-width: 3px
  -webkit-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  -webkit-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  padding-bottom: 100px;
  margin-bottom: 5%;
  margin-top: 5%;
  overflow:auto;
  max-height:300px;
}

#auctionRecap{
  background-color: green;
  border: outset white;
  border-width: 3px
  -webkit-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  -webkit-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  padding: 6%;
  padding-bottom: 100px;
  text-align: center;
  overflow:auto;
  max-height:400px;
  padding-right: 5%;
  margin-top: 15%;
}


#playersName{
  max-width: 200px;
  min-width: 100px;
}

#select_positions{
    font-size: 14px;
    background-color: rgba(255, 255, 229, 1);
    background: -webkit-radial-gradient(yellow, lightyellow);
    background: radial-gradient(yellow,lightyellow);
    border-width: 2%;
    border-radius: 10%;
    padding: 0px;
    border-style: outset;
}

#select_teams {
    font-size: 14px;
    background-color: rgba(255, 255, 229, 1);
    background: -webkit-radial-gradient(yellow, lightyellow);
    background: radial-gradient(yellow,lightyellow);
    border-width: 1px;
    border-radius: 4px;
    padding: 0px;
}

#summary-list {
  color: white;
  font-size: 20px;
  padding-left: 0%;
}

#winning-bid{
  max-width: 70px;
  min-width: 40px;
}

#years{
  max-width: 60px;
  min-width: 40px;
}

#leagueID{
  max-width: 90px;
  min-width: 70px;
}

#pSearchDiv{
  height: 20%
}

.list-unstyled{
  text-align: center;
  padding: 0px;
  margin: 2%;
}










