body {
  padding-top: 100px;
  background-image: url('/photo_13170_20090815.jpg');
  color: #002244;
}

h2 {
    text-decoration: underline;
    text-shadow: 2px 2px  #C60C30;
    text-align: center;
}

input:active {
  font-size: 14px;
    background-color: rgba(255, 255, 229, 1);
    background: -webkit-linear-gradient(center, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    border-width: 1px;
    border-radius: 4px;
}
input:hover{
  font-size: 14px;
    background-color: rgba(255, 255, 229, 1);
    background: -webkit-linear-gradient(center, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    background: linear-gradient(to top, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    border-width: 1px;
    border-radius: 4px;
    cursor: url('/cursor.png') auto;
}


label{
  padding-right: 5px;
  text-shadow: 2px 2px #C60C30;
}

select{
  max-width: 125px;
}

.row{
  margin-bottom: 10px;
  padding-top: 10px
}

#mainDiv{
  border-style: inset;
  border-color: white;
  border-width: 3px;
  background-color: green;
  -webkit-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  text-align: center  ;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  margin: 20px


}

#leftSidebar {
  background-color: green;
  border: outset white;
  border-width: 3px
  -webkit-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 40px 35px 5px 0px rgba(0,0,0,0.75);
  border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  background-attachment:

}


#playersName{
  max-width: 200px;
  min-width: 100px;
}

#select_positions{
    font-size: 14px;
    background-color: rgba(255, 255, 229, 1);
    background: -webkit-linear-gradient(center, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    border-width: 1px;
    border-radius: 4px;
}

#select_teams {
    font-size: 14px;
    background-color: rgba(255, 255, 229, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 229, 1) 100%);
    border-width: 1px;
    border-radius: 4px;
}

#summary-list {
  color: white;
  text-shadow: 2px 2px #000010;
  font-size: 20px;
}

#winning-bid{
  max-width: 70px;
  min-width: 40px;
}

#years{
  max-width: 60px;
  min-width: 40px;
}

#leagueID{
  max-width: 90px;
  min-width: 70px;
}










